<!DOCTYPE html>
<html lang="en-US">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Fortune Cookie </title>
      <link rel="stylesheet" href="/static/css/components.css">
      <link rel="stylesheet" href="/static/css/icons.css">
      <link rel="stylesheet" href="/static/css/responsee.css?v={51}">
      <link href='http://fonts.googleapis.com/css?family=Lato|Montserrat:400,300,600,700,800&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
      <script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
      <script type="text/javascript" src="js/jquery-ui.min.js"></script>
   </head>
   <body class="size-1280">
      <!-- HEADER -->
      <header>
         <div class="line">
            <div class="box">
                <div class="margin2x">
                  <h2>  Fortune Cookie  </h2>
               </div>
               <div class="s-12 l-8 right">
                  <div class="margin">
                  </div>
               </div>
            </div>
         </div>
         <!-- TOP NAV -->
         <div class="line">
            <nav>
               <p class="nav-text">Main navigation</p>
               <div class="top-nav s-12 l-10">
                   <ul>
                     <li><a href="/">home</a></li>
                   </ul>
                   <ul>
                     <li><a href="fortunecookie">fortune cookie</a></li>
                   </ul>
                   <ul>
                     <li><a href="about">about</a></li>
                   </ul>
               </div>
            </nav>
         </div>
      </header>
      <!-- CONTENT -->
      <div class="line">
         <div class="box">
            <div class="margin2x">
                <!-- CONTENT -->
                <center>
                <br>
                Fortune Cookie was developed by Tiffany Jung, as part of her Insight Data Science project in the fall of 2017.<br>
                <br>
                <img src="/static/img/aboutme.jpg" style="height:300px;"/>
                <br>
                Tiffany Jung
                <br><br>
                PhD Environmental Engineering<br>
                Centre for Global Engineering, University of Toronto 2017<br><br>
                    tiffanyjung.ym@gmail.com<br>
                <a href="https://www.linkedin.com/in/tiffanyjungym/">https://www.linkedin.com/in/tiffanyjungym/</a><br><br>
                <a href="https://drive.google.com/file/d/0B-jrTGnzjdmjams0b1V2UmJhN00/view?usp=sharing">CV</a><br><br>
                <br>
                <br>

                </center>
            </div>
         </div>
      </div>
      <!-- FOOTER -->
      <footer class="line">
         <div class="s-12 l-6">
            <p><h6>Copyright 2017 Tiffany Jung</h6></p>
         </div>
      </footer>
      <script type="text/javascript" src="js/responsee.js"></script>
   </body>
</html>