<!DOCTYPE html>
<html lang="en-US">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Fortune Cookie </title>
      <link rel="stylesheet" href="/static/css/components.css">
      <link rel="stylesheet" href="/static/css/icons.css">
      <link rel="stylesheet" href="/static/css/responsee.css?v={55}">
      <link href='http://fonts.googleapis.com/css?family=Lato|Montserrat:400,300,600,700,800&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
      <script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
      <script type="text/javascript" src="js/jquery-ui.min.js"></script>
   </head>
   <body class="size-1280">
      <!-- HEADER -->
      <header>
         <div class="line">
            <div class="box">
                <div class="margin2x">
                  <h2>  Fortune Cookie  </h2>
               </div>
               <div class="s-12 l-8 right">
                  <div class="margin">
                  </div>
               </div>
            </div>
         </div>
         <!-- TOP NAV -->
         <div class="line">
            <nav>
               <p class="nav-text">Main navigation</p>
               <div class="top-nav s-12 l-10">
                   <ul>
                     <li><a href="/">home</a></li>
                   </ul>
                   <ul>
                     <li><a href="about">fortune cookie</a></li>
                   </ul>
                   <ul>
                     <li><a href="about">about</a></li>
                   </ul>
               </div>
            </nav>
         </div>
      </header>
      <!-- CONTENT -->
      <div class="line">
         <div class="box">
            <div class="margin2x">
                <!-- CONTENT -->

                <div class="leftpane">
                    <br>
                        Fortune Cookie uses <b>Amazon product review data</b> [1],
                        along with algorithms like <b>doc2vec</b> (for review text analysis), and <b>multinomial logistic regression </b>(for classification).
                    <br><br>To learn more, please refer to the slides. <br>
                        <br>
                </div>
                <br>
                <center>
                <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vTQ7wXUqBOxC-5gcbODVXG0e1MDZbRYMRKccdXmh9hFnC8YaxYqKHLnZbYzATPZICAMNb0mSJxlAqQy/embed?start=false&loop=false&delayms=3000" frameborder="0" width="480" height="299" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
                <br>
                    <h6>[1]. Ups and downs: Modeling the visual evolution of fashion trends with one-class collaborative filtering
                        R. He, J. McAuley <i> WWW </i>, 2016</h6>
                <br>
                </center>
            </div>
         </div>
      </div>
      <!-- FOOTER -->
      <footer class="line">
         <div class="s-12 l-6">
            <p><h6>Copyright 2017 Tiffany Jung</h6></p>
         </div>
      </footer>
      <script type="text/javascript" src="js/responsee.js"></script>
   </body>
</html>