<!DOCTYPE html>
<html lang="en-US">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Fortune Cookie 1.0</title>
      <link rel="stylesheet" href="/static/css/components.css">
      <link rel="stylesheet" href="/static/css/icons.css">
      <link rel="stylesheet" href="/static/css/responsee.css">
      <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
      <script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
      <script type="text/javascript" src="js/jquery-ui.min.js"></script>
   </head>
   <body class="size-1280">
      <!-- HEADER -->
      <header>
         <div class="line">
            <div class="box">
                <div class="margin2x">
                  <h2>  Fortune Cookie 1.0  </h2>
               </div>
            </div>
         </div>
         <!-- TOP NAV -->  
         <div class="line">
            <nav>
               <p class="nav-text">Main navigation</p>
               <div class="top-nav s-12 l-10">
                  <ul>
                     <li><a>Home</a></li>
                     <li>
                        <a>Product</a>
                     </li>
                  </ul>
               </div>
            </nav>
         </div>
      </header>
      <!-- ASIDE NAV AND CONTENT -->
      <body>
         <div class="line">
            <div class="box">
               <div class="margin2x">
                  <!-- CONTENT -->
                  <section class="s-12 m-8 l-9">
                     <div class="margin">
                        {% for i in result %}
                           {% if loop.index == 1 %}
                              <div class="s-12 m-6 l-4">
                                 <center><img src={{i['Image']}} style="height:300px;" /></center>
                                 <h4 class="margin-bottom">
                                    <center>{{i['ASIN']}}</center>
                                 </h4>
                                 <table>
                                    <tr>
                                       {% if i['Predicted_Rank'] == 'Best Seller' %}
                                          <th bgcolor="#63E499">
                                       {% elif i['Predicted_Rank'] == 'Top 50%'  %}
                                          <th bgcolor="#EAC27F">
                                       {% elif i['Predicted_Rank'] == 'Bottom 50%'  %}
                                          <th bgcolor="#AAB7B8">
                                       {% endif%}
                                    <center>{{i['Predicted_Rank']}}</center></th>
                                    </tr>
                                    </tr>
                                       <td><center>{{i['Price']}}</center> </td>
                                    </tr>
                                 </table>
                              </div>
                           {% elif loop.index == 2 %}
                              <div class="s-12 m-6 l-4">
                                 <center><img src={{i['Image']}} style="height:300px;" /></center>
                                 <h4 class="margin-bottom">
                                    <center>{{i['ASIN']}}</center>
                                 </h4>
                                 <table>
                                    <tr>
                                       {% if i['Predicted_Rank'] == 'Best Seller' %}
                                          <th bgcolor="#63E499">
                                       {% elif i['Predicted_Rank'] == 'Top 50%'  %}
                                          <th bgcolor="#EAC27F">
                                       {% elif i['Predicted_Rank'] == 'Bottom 50%'  %}
                                          <th bgcolor="#AAB7B8">
                                       {% endif%}
                                    <center>{{i['Predicted_Rank']}}</center></th>
                                    </tr>
                                    </tr>
                                       <td><center>{{i['Price']}}</center></td>
                                    </tr>
                                 </table>
                              </div>
                           {% elif loop.index == 3 %}
                              <div class="s-12 m-6 l-4">
                                 <center><img src={{i['Image']}} style="height:300px;" /></center>
                                 <h4 class="margin-bottom">
                                    <center>{{i['ASIN']}}</center>
                                 </h4>
                                 <table>
                                    <tr>
                                       {% if i['Predicted_Rank'] == 'Best Seller' %}
                                          <th bgcolor="#63E499">
                                       {% elif i['Predicted_Rank'] == 'Top 50%'  %}
                                          <th bgcolor="#EAC27F">
                                       {% elif i['Predicted_Rank'] == 'Bottom 50%'  %}
                                          <th bgcolor="#AAB7B8">
                                       {% endif%}
                                    <center>{{i['Predicted_Rank']}}</center></th>
                                    </tr>
                                    </tr>
                                       <td> <center>{{i['Price']}}</center></td>
                                    </tr>
                                 </table>
                           {% endif %}
                        {% endfor %}
                     </div>
                  </section>
               <!-- ASIDE NAV -->
               </div>
            </div>
         </div>
      </body>
      <!-- FOOTER -->
      <footer class="line">
         <div class="s-12 l-6">
            <p>Copyright 2017, Fortune Cookie Tiffany Jung</p>
         </div>
         <div class="s-12 l-6">
            <a class="right" href="http://www.myresponsee.com" title="Responsee - lightweight responsive framework">Design and coding by Responsee Team</a>
         </div>
      </footer>
      <script type="text/javascript" src="js/responsee.js"></script>      
   </body>
</html>