<!DOCTYPE html>
<html lang="en-US">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Fortune Cookie 1.0</title>
      <link rel="stylesheet" href="/static/css/components.css">
      <link rel="stylesheet" href="/static/css/icons.css">
      <link rel="stylesheet" href="/static/css/responsee.css">
      <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
      <script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
      <script type="text/javascript" src="js/jquery-ui.min.js"></script>
   </head>
   <body class="size-1280">
      <!-- HEADER -->
      <header>
         <div class="line">
            <div class="box">
                <div class="margin2x">
                  <h2>  Fortune Cookie 1.0  </h2>
               </div>
               <div class="s-12 l-8 right">
                  <div class="margin">
                  </div>
               </div>
            </div>
         </div>
         <!-- TOP NAV -->
         <div class="line">
            <nav>
               <p class="nav-text">Main navigation</p>
               <div class="top-nav s-12 l-10">
                  <ul>
                     <li><a>Home</a></li>
                     <li>
                        <a>Product</a>
                     </li>
                  </ul>
               </div>
            </nav>
         </div>
      </header>
      <!-- CONTENT -->
      <div class="line">
         <div class="box">
            <div class="margin2x">
                <!-- CONTENT -->
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <center><h4>Please enter the ASIN of your Amazon products </h4>
                    <h5>(separated by ","; e.g. B074F2YGBC, B074F2PHLB)</h5>
                    <br>
                <form action="." method="POST">
                    <input type="text" name="text">
                    <input type="submit" name="my-form" value="Send">
                </form></center>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            </div>
         </div>
      </div>
      <!-- FOOTER -->
      <footer class="line">
         <div class="s-12 l-6">
            <p>Copyright 2017, Fortune Cookie Tiffany Jung</p>
         </div>
         <div class="s-12 l-6">
            <a class="right" href="http://www.myresponsee.com" title="Responsee - lightweight responsive framework">Design and coding by Responsee Team</a>
         </div>
      </footer>
      <script type="text/javascript" src="js/responsee.js"></script>
   </body>
</html>