<!DOCTYPE html>
<html lang="en-US">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Fortune Cookie </title>
      <link rel="stylesheet" href="/static/css/components.css">
      <link rel="stylesheet" href="/static/css/icons.css">
      <link rel="stylesheet" href="/static/css/responsee.css?v={52}">
      <link href='http://fonts.googleapis.com/css?family=Lato|Montserrat:400,300,600,700,800&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
      <script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
      <script type="text/javascript" src="js/jquery-ui.min.js"></script>
   </head>
   <body class="size-1280">
      <!-- HEADER -->
      <header>
         <div class="line">
            <div class="box">
                <div class="margin2x">
                  <h2>  Fortune Cookie  </h2>
               </div>
            </div>
         </div>
         <!-- TOP NAV -->
         <div class="line">
            <nav>
               <p class="nav-text">Main navigation</p>
               <div class="top-nav s-12 l-10">
                  <ul>
                     <li><a href="/">home</a></li>
                  </ul>
                   <ul>
                     <li><a href="fortunecookie">fortune cookie</a></li>
                   </ul>
                   <ul>
                     <li><a href="about">about</a></li>
                   </ul>
               </div>
            </nav>
         </div>
      </header>
      <!-- CONTENT -->
      <div class="line">
         <div class="box">
            <div class="margin2x">
                <!-- CONTENT -->
                <div class="leftpane">
                    <br>
                    <b>Fortune Cookie</b> helps you identify future best sellers among new products.
                    Please enter the Amazon Standard Identification Numbers (ASINs) to try it out! <br>

                </div>
                <div class="rightpane">
                    <br>
                    <h4> Amazon product ASIN: </h4><form action="." method="POST">
                        <input type="text" name="text" size="35">
                        <input type="submit" name="my-form" value="Submit">
                        <h6>(e.g. B075WTP164, B074F2YGBF, B075MTSS8L)</h6>
                        <br>
                    </form>
                    <br>
                </div>
            </div>
      </div>
      <!-- FOOTER -->
      <footer class="line">
         <div class="s-12 l-6">
             <p><h6>Copyright 2017 Tiffany Jung</h6></p>
         </div>
      </footer>
      <script type="text/javascript" src="js/responsee.js"></script>
   </body>
</html>